Ecommerce/Services/Catalog/Catalog.Infrastruture/obj/Debug/net8.0/Catalog.Infrastruture.csproj.BuildWithSkipAnalyzers
Ecommerce/Services/Catalog/Catalog.Infrastruture/obj/Debug/net8.0/Catalog.Infrastruture.assets.cache
Ecommerce/Services/Catalog/Catalog.Application/obj/Debug/net8.0/Catalog.Application.assets.cache
Ecommerce/Services/Catalog/Catalog.API/obj/Debug/net8.0/apphost.exe
Ecommerce/Services/Catalog/Catalog.API/obj/Debug/
Ecommerce/Services/Catalog/Catalog.Application/obj/Debug/
Ecommerce/Services/Catalog/Catalog.Core/obj/Debug/
Ecommerce/Services/Catalog/Catalog.Infrastruture/obj/Debug/
Ecommerce/.vs/Ecommerce/copilot-chat/
Ecommerce/.vs/Ecommerce/CopilotIndices/
Ecommerce/.vs/CopilotSnapshots/
Ecommerce/.vs/
Ecommerce/obj/Debug/
Ecommerce/Services/Basket.Infrastruture/obj/Debug/
Ecommerce/Services/Basket/Basket.API/obj/Debug/
Ecommerce/Services/Basket/Basket.Application/obj/Debug/
Ecommerce/Services/Basket/Basket.Core/obj/Debug/
